<!DOCTYPE html>
<html>
<head>
	<title>Start seeing feed</title>
</head>
<body>
	{% if message %}
		<B style="color: red;">{{message}}</B>
	{%endif%}
	<form autocomplete="off" method="post" onsubmit="return verifyWhetherJSHasLoadedDataIntolongitudeLatitudeFields()" enctype="multipart/form-data">
		{% csrf_token %}
		<br>
		<input type="hidden" name="latitude" id="latitude">
		<input type="hidden" name="longitude" value="blah" id="longitude">
		<input type="submit" value="Feed!" id="feed">
	</form>
	<p id="loc_text" style="color: lightgreen;">Allow location access to start seeing posts!</p>
	<script>
		var loc_text=document.getElementById("loc_text");
		main_get_location_called=false
		location_access_denied_reloading_is_necessary=false
	function verifyWhetherJSHasLoadedDataIntolongitudeLatitudeFields()
		{
			// This func is nec becoz js takes sometime for loading data to input fields.
			// If loc access is denied
				if(location_access_denied_reloading_is_necessary==true)
				{
					loc_text.style.color="red";
					return false;
				}
			// If first time the calling the fucntion
				if(document.getElementById("longitude").value=="blah" && main_get_location_called==false)
				{
					main_get_location_called=true
					console.log("calling loc")
					loc_text.innerHTML = "Accessing location...Please wait.."
					main_get_location()
					console.log("caled loc")
					return false;

				}
			// if fucntion is already called ,but since js is slow,we wait for it to load location into input fields.
				else if(document.getElementById("longitude").value=="blah" && main_get_location_called==true)
				{
					loc_text.innerHTML = "Accessing location...Please wait..";
					console.log("wait for access");
					return false;
				}
			// eveyrthing is done
				else
				{
					console.log(document.getElementById("longitude").value);
					return true;
				}
		}
	function main_get_location() {
		function clearBox()
		{
			document.getElementById("latitude").value="";
			document.getElementById("longitude").value="";
			console.log("clearBox");
		}
		function getLocation() {
		  if (navigator.geolocation) 
		  {
			console.log("geiitng");
			console.log("geiitng");

			navigator.geolocation.getCurrentPosition(savePosition, showError);
		  }
		  else 
		  { 
			loc_text.innerHTML = "Geolocation is not supported by this browser.You can't post.Use a device or browser which supports geolocation.";
			clearBox();
		  }
		}

		function savePosition(position) {
			console.log("saving");
			var feed_button=document.getElementById("feed");
			// these two take time
			document.getElementById("latitude").value=position.coords.latitude;
			document.getElementById("longitude").value=position.coords.longitude;
			console.log("location accessed.Clicking submit");
			console.log(position.coords.longitude);
			feed_button.click();
		}

		function showError(error) {
			// User has to reload the page to give access to location.So resetting fields is not necessary.
			location_access_denied_reloading_is_necessary=true; //See VerifyWhether....()
			console.log("error show");
			switch(error.code) {
				case error.PERMISSION_DENIED:
				  loc_text.innerHTML = "You have denied location access.Reload the page and allow access.";
				  console.log(document.getElementById("longitude").value);
				  console.log(main_get_location_called);
				  break;
				case error.POSITION_UNAVAILABLE:
				  loc_text.innerHTML = "Location information is unavailable."
				  break;
				case error.TIMEOUT:
				  loc_text.innerHTML = "The request to get user location timed out."
				  break;
				case error.UNKNOWN_ERROR:
				  loc_text.innerHTML = "An unknown error occurred."
				  break;
			  }
		}
		getLocation();
	}

	</script>


</body>
</html>