<!DOCTYPE html>
<html>
<head>
	<title>No posts...</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
		body{
			background-color: pink;
			color: white;
			font-family: "Lucida Console", Courier, monospace;
		}
		
		button {
			background-color: #4CAF50;
			color: white;
			padding: 14px 20px;
			margin: 8px 0;
			border: none;
			cursor: pointer;
			width: auto;
			font-family: "Lucida Console", Courier, monospace;
		}
	</style>
</head>
<body>
	<h3 style="color:black;">Unfortunately no posts found in your area..</h3>

	<a href="/create_post/"><button style="font-size: 30px;">Make the first post!</button></a>

</body>
</html>