<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if status == 1 %}
		<title>Posted successfully!</title>
	{% else %}
		<title>Post failed!</title>
	{%endif%}
	<style type="text/css">
		body{
			background-color: pink;
			font-family: "Lucida Console", Courier, monospace;
		}
		a{
			text-decoration: none;
		} 
		button {
			background-color: #4CAF50;
			color: white;
			padding: 14px 20px;
			margin: 8px 0;
			border: none;
			cursor: pointer;
			width: auto;
			font-family: "Lucida Console", Courier, monospace;
		}
	</style>
</head>
<body>
	{% if status == 1 %}
		<h2 style="color: black;" >Your post has been posted!</h2>
	{% else %}
		<h2 style="color: black;" >Post failed</h2>
		<a href="/create_post/"><button style="width: 50%;background-color: blue; color: white;">Try again</button></a> 
	{%endif%}
		<a href="/feed/"><button style="width: 50%;background-color: blue; color: white;">Back to feed</button></a> 
</body>
</html>