<!DOCTYPE html>
<html>
<head>
	{% if status == 1 %}
		<title>Posted successfully!</title>
	{% else %}
		<title>Post failed!</title>
	{%endif%}
</head>
<body>
	{% if status == 1 %}
		<p style="color: lightgreen;" >Your post has been posted.!</p>
		<a href="/feed/" style="color: skyblue;">Click to go to feed!</a>
	{% else %}
		<p style="color: red;">Post failed</p>
		<a href="/create_post/" style="color: red;">Click to try again</a>
		<a href="/feed/" style="color: red;">Click to feed!</a>
	{%endif%}
</body>
</html>